
.custom-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.custom-product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    height: 66.66%;
    margin-left: auto;
}

.product-list-container {
    overflow-y: auto;
    max-height: calc(100vh - 20em);
    padding-top: 1em;
}

.custom-form-container {
    flex: 1;
    margin-left: 2em;
    max-width: calc(33.33% - 2em);
    max-height: calc(100vh - 30em);
    margin-top: auto;
    padding-bottom: 1em;
}

.form-container {
    flex: 1;
    margin-left: 2em;
    max-width: calc(33.33% - 2em);
}



.product-card {
    flex: 0 0 calc(25% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 35em;
}

.product-image {
    position: relative;
    cursor: pointer;
}

.product-image img {
    height: 24em;
    max-width: 100%;
    display: block;
    margin: auto;
}

.click-count {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remove-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
